<main *ngIf="mode === 'add'" id="main" class="main" style="margin-top: 0px !important;">
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Role</h5>

                        <form [formGroup]="newRoleForm">
                            <div class="row mb-3">
                                <label for="cropTypeName" class="col-md-4 col-lg-3 col-form-label">Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="Enter role name">
                                    <div *ngIf="isSubmitted && f['name'].errors" class="help-block">
                                        <div *ngIf="f['name'].errors['required']" class="text-danger">{{nameRequired}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="cropType" class="col-md-4 col-lg-3 col-form-label">Slug</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" formControlName="slug" class="form-control"
                                        placeholder="Enter slug">
                                    <div *ngIf="isSubmitted && f['slug'].errors" class="help-block">
                                        <div *ngIf="f['slug'].errors['required']" class="text-danger">{{slugRequired}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button (click)="createRole()" type="submit" class="btn btn-primary m-2">Submit</button>
                                <button type="reset" class="btn btn-secondary m-2"
                                    (click)="backTolisting()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<main *ngIf="mode === 'edit'" id="main" class="main" style="margin-top: 0px !important;">
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Role</h5>

                        <form [formGroup]="updateRoleForm">
                            <div class="row mb-3">
                                <label for="cropTypeName" class="col-md-4 col-lg-3 col-form-label">Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <label for="name">Name</label>
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="Enter role name">
                                    <div *ngIf="isSubmitted && b['name'].errors" class="help-block">
                                        <div *ngIf="b['name'].errors['required']" class="text-danger">{{nameRequired}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="cropType" class="col-md-4 col-lg-3 col-form-label">Slug</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" formControlName="slug" class="form-control"
                                        placeholder="Enter slug">
                                    <div *ngIf="isSubmitted && b['slug'].errors" class="help-block">
                                        <div *ngIf="b['slug'].errors['required']" class="text-danger">{{slugRequired}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button (click)="updateRole()" type="submit" class="btn btn-primary m-2">Save</button>
                                <button type="reset" class="btn btn-secondary m-2"
                                    (click)="backTolisting()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>