.copy {
    padding-top: 700px;
    padding-bottom: 15px;
}

.footer {
    /* position: absolute; */
    width: 100%;
    right: 0;
    /* bottom: 0% !important; */
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: hide;
}

.content-1 {
    padding-left: 20%;
}