<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" novalidate [formGroup]="registerForm"
                                    id="formData" #userData="ngForm">
                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Your Name</label>
                                        <input type="text" name="name" class="form-control" id="yourName"
                                            formControlName="name" required>
                                        <div *ngIf="isSubmitted && f['name'].errors" class="help-block">
                                            <div *ngIf="f['name'].errors['required']" class="text-danger">
                                                {{nameRequired}}</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Your Email</label>
                                        <input type="email" name="email" class="form-control" id="yourEmail"
                                            formControlName="email" required>
                                        <div *ngIf="isSubmitted && f['email'].errors" class="help-block">
                                            <div *ngIf="f['email'].errors['required']" class="text-danger">
                                                {{emailRequired}}</div>
                                            <div *ngIf="f['email'].errors['pattern']" class="text-danger">
                                                {{invalidEmail}}</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="yourPassword"
                                            formControlName="password" required>
                                        <div *ngIf="isSubmitted && f['password'].errors" class="help-block">
                                            <div *ngIf="f['password'].errors['required']" class="text-danger">
                                                {{passwordRequired}}</div>
                                            <div *ngIf="f['password'].errors?.['minlength']" class="text-danger">
                                                {{passwordValidate}}</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="passwordConfirm" class="form-label">Confirm Password</label>
                                        <input type="password" name="ConfirmPassword" class="form-control"
                                            id="yourConfirmPassword" formControlName="passwordConfirm" required>
                                        <div *ngIf="isSubmitted && f['passwordConfirm'].errors" class="help-block">
                                            <div *ngIf="f['passwordConfirm'].errors['required']" class="text-danger">
                                                {{confirmPasswordRequired}}</div>
                                            <div *ngIf="f['passwordConfirm'].errors?.['minlength']" class="text-danger">
                                                {{passwordValidate}}</div>
                                            <div *ngIf="f['passwordConfirm'].errors?.['notSame']" class="text-danger">
                                                {{passwordNotSame}}</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourFirstName" class="form-label">First Name</label>
                                        <input type="text" name="firstname" class="form-control" id="yourFirstName"
                                            formControlName="firstName" required>
                                        <div *ngIf="isSubmitted && f['firstName'].errors" class="help-block">
                                            <div *ngIf="f['firstName'].errors['required']" class="text-danger">
                                                {{firstNameRequired}}</div>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourLastName" class="form-label">Last Name</label>
                                        <input type="text" name="Lastname" class="form-control" id="yourLastName"
                                            formControlName="lastName" required>
                                        <div *ngIf="isSubmitted && f['lastName'].errors" class="help-block">
                                            <div *ngIf="f['lastName'].errors['required']" class="text-danger">
                                                {{lastNameRequired}}</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" (click)="registerSubmit()"
                                            type="submit">Create
                                            Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a routerLink="/user/login">Log
                                                in</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>